@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

$wip_colour1: #ecf0f1;
$wip_colour2: rgb(177, 245, 229);
.wip {
  &:before {
    content: "";
    position: absolute;
    background-color: #32cd32;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
  }
  background: -webkit-linear-gradient(
    45deg,
    $wip_colour1 25%,
    $wip_colour2 25%,
    $wip_colour2 50%,
    $wip_colour1 50%,
    $wip_colour1 75%,
    $wip_colour2 75%
  );
  background-size: 50px 50px;
  color: #444;
}
